NEXT_PUBLIC_SUPABASE_URL=https://pxnyfohzkojxgmwycwwk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB4bnlmb2h6a29qeGdtd3ljd3drIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU2MDE0NTMsImV4cCI6MjA4MTE3NzQ1M30.mYgX6-5p2VMgDxNFVQBmgcOS_XHIBztHRynoBxKSgX8
